*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    
}
button{

    padding: 10px 20px;
    margin: 8px 0;
    background-color: green;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
input{

    width: 50%;
}
#p1{

    color: green;
    line-height: 1.5;
    font-size: 20px;
}